
<!DOCTYPE html><html><head><title>
DP - USER STAT GIT Report As On __XXXXXX__</title><meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.collapsible {
	color: white;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border-top: none;
    border-left: none;
	border-right: none;
	border-bottom: none;
	text-align: left;
	outline: none;
	font-size: 12px;
}

.CRITICAL {
  background-color: #770;
}
.HIGH {
  background-color: #772;
}

.MEDIUM {
  background-color: #774;
}

.LOW {
  background-color: #776;
}

.active {
  background-color: #bbb;
}

.collapsible:hover {
  background-color: #bbb;
}

table, th, td {
  border: 1px solid #222;
    
}
table{
	width: 100%;
}

th, td {
  padding: 15px;
  text-align: left;
}

th, td {
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5;}

th {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
.box{
	padding:10px;
	margin:10px;
	display:inline;
	clear:left;
}
</style>
</head>
<body>
<img src="https://598d8f3cda4c5fed8f27-d10999d18a3b8ba163ad6d48476ec57a.ssl.cf5.rackcdn.com/mf_logo_blue.svg" width="240px" height="60px" style="display:inline; clear:left"/>
<h2 style="display:inline; clear:left; font-size:84px; padding:10px; color:#049;">DP INSPECTOR REPORT</h2><hr/>
<div class="box">
<h4>Overall Report</h4>
<p>



</p></div>


<div class="box"><p>
	

</p></div>
<button class="collapsible" style="font-size:18px; color:#333;">Inpection Summary Report [Click to Expand]</button>



<div class="content"><p>


<table>
<tr><td>Run Date</td><td> Tue Jul 16 17:19:11 IST 2019 </td></tr>
<tr><td>Run Duration</td><td>1 Month</td></tr>
<tr><td>Total Commits</td><td> 171 </td></tr>
<tr><td>Total Users, Who Commited</td><td> 157 </td></tr>
<tr><td>Total Errors(76)</td><td>
<table>
<tr><td>Critical</td><td>0</td></tr>
<tr><td>High</td><td>76</td></tr>
<tr><td>Low</td><td>0</td></tr>
<tr><td>Medium</td><td>0</td></tr>
</table>
</td></tr>
<tr><td>Total Files Modified(.c,.cc,.h) </td><td> 257 </td></tr>
<tr><td>Total Files with errors(.c,.cc,.h)</td><td> 0 </td></tr>
<tr><td>File with Maximum Errors</td><td>xxx</td></tr>
<tr><td>File with Maximum Errors(Critical)</td><td>xxx</td></tr>
</table></p></div>
<h2>Error Tagging Report</h2>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/db/auditing/auditcmn.c : 139]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/db/auditing/auditcmn.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493044020">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/sap/backint.c : 2139]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/sap/backint.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493051730">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/bargui/barguicommon.c : 2432]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/bargui/barguicommon.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493055781">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/ma/xma/catalog.c : 2765]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/ma/xma/catalog.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493040484">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/sap/cntrlbkp.c : 120]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/sap/cntrlbkp.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493044326">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/sap/cntrlbkp.c : 127]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/sap/cntrlbkp.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493033986">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/smbdb/dbsa/dbsa.c : 1043]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/smbdb/dbsa/dbsa.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493046596">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/smbdb/dbsa/dbsa.c : 1341]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/smbdb/dbsa/dbsa.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493054448">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/smbdb/dbsa/dbsa.c : 844]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/smbdb/dbsa/dbsa.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493053856">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/smbdb/dbsmis/dbsmis.c : 1455]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/smbdb/dbsmis/dbsmis.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493049383">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/smbdb/dbsmis/dbsmis.c : 1537]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/smbdb/dbsmis/dbsmis.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493054527">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/ma/devtool/devlist_nt.c : 119]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/ma/devtool/devlist_nt.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493048619">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/drivelib/drivelib.c : 238]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/drivelib/drivelib.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493058787">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/drivelib/drivelib.c : 308]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/drivelib/drivelib.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493050306">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/drivelib/drivelib.c : 963]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/drivelib/drivelib.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493045325">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/recovery/omnidr/win32/drwin32.c : 4648]  with [1] commits
</button><div class="content">
<h4>File : <i><a href="#">src/recovery/omnidr/win32/drwin32.c</a></i> with [1] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493037475">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>8876929ca9cc130fe84ab81f288af6a07463879d</br>[8876929ca9]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Thu Jun 20 12:24:59 2019 +0530</td>
<td>AGMID7647 : updating log messages and load using DPwrapper (#2827)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/cmn/gen_env.c : 94]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/cmn/gen_env.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493050682">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/parse/gen_parser.c : 1778]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/parse/gen_parser.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493041907">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/ipc/ipcmsg.c : 520]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/ipc/ipcmsg.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493052335">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/db2/libob2db2/logArchive.c : 340]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/db2/libob2db2/logArchive.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493052534">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/db2/db2arch/main.c : 345]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/db2/db2arch/main.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493056277">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/bargui/mbx.c : 535]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/bargui/mbx.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493043319">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/bargui/mbx.c : 593]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/bargui/mbx.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493053002">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/bargui/mbx.c : 643]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/bargui/mbx.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493053213">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/bargui/mbx.c : 715]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/bargui/mbx.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493036627">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/bargui/mbx.c : 754]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/bargui/mbx.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493049786">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/barutil/ob2util.c : 221]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/barutil/ob2util.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493045101">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/barutil/ob2util.c : 228]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/barutil/ob2util.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493034813">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/sm/bsm2/restart.c : 129]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/sm/bsm2/restart.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493056409">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/sapnt/sapback.c : 137]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/sapnt/sapback.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493040275">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/sapnt/sapback.c : 237]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/sapnt/sapback.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493033123">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/sapnt/sapback.c : 570]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/sapnt/sapback.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493047159">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/sapnt/sapback.c : 701]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/sapnt/sapback.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493045460">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/sap/sap_common.c : 1483]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/sap/sap_common.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493048438">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/sap/sap_common.c : 1503]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/sap/sap_common.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493043714">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/recovery/drw/scsiop.c : 416]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/recovery/drw/scsiop.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493034927">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/smb/sse/smbmsg.c : 323]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/smb/sse/smbmsg.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493033314">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/snmpnt/snmp.c : 255]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/snmpnt/snmp.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493050732">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/snmpnt/snmp.c : 265]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/snmpnt/snmp.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493051453">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/sql_7/sql7_main.cpp : 467]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/sql_7/sql7_main.cpp</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493041814">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/recovery/srd/srdparsewin.c : 285]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/recovery/srd/srdparsewin.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493034899">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/recovery/srd/srdsess.c : 1370]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/recovery/srd/srdsess.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493043563">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/recovery/srd/srdutil.c : 244]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/recovery/srd/srdutil.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493036568">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/recovery/srd/srdutil.c : 317]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/recovery/srd/srdutil.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493038245">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/recovery/srd/SysNfo/SysNfoW2K/srdw2k.c : 1442]  with [3] commits
</button><div class="content">
<h4>File : <i><a href="#">src/recovery/srd/SysNfo/SysNfoW2K/srdw2k.c</a></i> with [3] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493053359">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>8876929ca9cc130fe84ab81f288af6a07463879d</br>[8876929ca9]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Thu Jun 20 12:24:59 2019 +0530</td>
<td>AGMID7647 : updating log messages and load using DPwrapper (#2827)</td>
</tr>
<tr>
<td>748d73c968576b0ace4d7676e0debae7d15f0246</br>[748d73c968]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Mon Jun 17 17:40:29 2019 +0530</td>
<td>AGMID44359: DLL_hijacking adding full path and sign verification (#2790)</td>
</tr>
<tr>
<td>30b6e384ecf0eeea89007717395e0583ab5539f6</br>[30b6e384ec]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Thu Jun 20 15:50:54 2019 +0530</td>
<td>AGMID7647 : updating log messages and load using DPwrapper (#2831)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/smb/sse/sseapi.c : 4818]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/smb/sse/sseapi.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493040704">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/smb/sse/sseapi.c : 4975]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/smb/sse/sseapi.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493043356">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/smb/sse/sseapi.c : 5662]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/smb/sse/sseapi.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493050894">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/smb/sse/sseapi.c : 5750]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/smb/sse/sseapi.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493050470">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/smb/sse/sseapi.c : 6072]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/smb/sse/sseapi.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493034951">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/smb/sse/ssedbxp.c : 808]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/smb/sse/ssedbxp.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493049257">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/smb/sse/ssedbxp.c : 93]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/smb/sse/ssedbxp.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493034832">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/cmn/strutil.c : 2126]  with [1] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/cmn/strutil.c</a></i> with [1] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493055530">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>803af3329cf8e7f1331e0335c52c71aa674e0196</br>[803af3329c]</td>
<td>Mayuri Namde</br>mayuri.kis.namde@hpe.com</td>
<td>Fri Jun 21 18:52:37 2019 +0530</td>
<td>AGMRQ10D7649: omnicc command to enable secure data communication and audit logs (#2858)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/cmn/strutil.c : 2133]  with [1] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/cmn/strutil.c</a></i> with [1] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493038409">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>803af3329cf8e7f1331e0335c52c71aa674e0196</br>[803af3329c]</td>
<td>Mayuri Namde</br>mayuri.kis.namde@hpe.com</td>
<td>Fri Jun 21 18:52:37 2019 +0530</td>
<td>AGMRQ10D7649: omnicc command to enable secure data communication and audit logs (#2858)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/cmn/strutil.c : 3240]  with [1] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/cmn/strutil.c</a></i> with [1] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493047567">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>803af3329cf8e7f1331e0335c52c71aa674e0196</br>[803af3329c]</td>
<td>Mayuri Namde</br>mayuri.kis.namde@hpe.com</td>
<td>Fri Jun 21 18:52:37 2019 +0530</td>
<td>AGMRQ10D7649: omnicc command to enable secure data communication and audit logs (#2858)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/cmn/strutil.c : 3251]  with [1] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/cmn/strutil.c</a></i> with [1] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493041023">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>803af3329cf8e7f1331e0335c52c71aa674e0196</br>[803af3329c]</td>
<td>Mayuri Namde</br>mayuri.kis.namde@hpe.com</td>
<td>Fri Jun 21 18:52:37 2019 +0530</td>
<td>AGMRQ10D7649: omnicc command to enable secure data communication and audit logs (#2858)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/cmn/strutil.c : 3259]  with [1] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/cmn/strutil.c</a></i> with [1] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493037622">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>803af3329cf8e7f1331e0335c52c71aa674e0196</br>[803af3329c]</td>
<td>Mayuri Namde</br>mayuri.kis.namde@hpe.com</td>
<td>Fri Jun 21 18:52:37 2019 +0530</td>
<td>AGMRQ10D7649: omnicc command to enable secure data communication and audit logs (#2858)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/recovery/srd/SysNfo/SysNfoAsr/SysNfoAsr.c : 363]  with [1] commits
</button><div class="content">
<h4>File : <i><a href="#">src/recovery/srd/SysNfo/SysNfoAsr/SysNfoAsr.c</a></i> with [1] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493043172">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>e353d5d91105d103bf7cba9338e88bbcb8ce8459</br>[e353d5d911]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Tue Jun 18 21:49:48 2019 +0530</td>
<td>AGMID7647 : updating log messages and load using DPwrapper (#2816)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/recovery/srd/SysNfo/sysnfocmn.c : 1880]  with [2] commits
</button><div class="content">
<h4>File : <i><a href="#">src/recovery/srd/SysNfo/sysnfocmn.c</a></i> with [2] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493034855">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>748d73c968576b0ace4d7676e0debae7d15f0246</br>[748d73c968]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Mon Jun 17 17:40:29 2019 +0530</td>
<td>AGMID44359: DLL_hijacking adding full path and sign verification (#2790)</td>
</tr>
<tr>
<td>027585299c2e97fe1c17a13f49f9b4b962096fe1</br>[027585299c]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Tue Jun 18 21:50:10 2019 +0530</td>
<td>AGMID7647 : updating the log messages for loading DLL's (#2817)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/recovery/srd/SysNfo/sysnfocmn.c : 2156]  with [2] commits
</button><div class="content">
<h4>File : <i><a href="#">src/recovery/srd/SysNfo/sysnfocmn.c</a></i> with [2] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493055149">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>748d73c968576b0ace4d7676e0debae7d15f0246</br>[748d73c968]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Mon Jun 17 17:40:29 2019 +0530</td>
<td>AGMID44359: DLL_hijacking adding full path and sign verification (#2790)</td>
</tr>
<tr>
<td>027585299c2e97fe1c17a13f49f9b4b962096fe1</br>[027585299c]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Tue Jun 18 21:50:10 2019 +0530</td>
<td>AGMID7647 : updating the log messages for loading DLL's (#2817)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/recovery/srd/SysNfo/sysnfocmn.c : 2327]  with [2] commits
</button><div class="content">
<h4>File : <i><a href="#">src/recovery/srd/SysNfo/sysnfocmn.c</a></i> with [2] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493053540">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>748d73c968576b0ace4d7676e0debae7d15f0246</br>[748d73c968]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Mon Jun 17 17:40:29 2019 +0530</td>
<td>AGMID44359: DLL_hijacking adding full path and sign verification (#2790)</td>
</tr>
<tr>
<td>027585299c2e97fe1c17a13f49f9b4b962096fe1</br>[027585299c]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Tue Jun 18 21:50:10 2019 +0530</td>
<td>AGMID7647 : updating the log messages for loading DLL's (#2817)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/recovery/srd/SysNfo/sysnfocmn.c : 2491]  with [2] commits
</button><div class="content">
<h4>File : <i><a href="#">src/recovery/srd/SysNfo/sysnfocmn.c</a></i> with [2] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493058586">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>748d73c968576b0ace4d7676e0debae7d15f0246</br>[748d73c968]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Mon Jun 17 17:40:29 2019 +0530</td>
<td>AGMID44359: DLL_hijacking adding full path and sign verification (#2790)</td>
</tr>
<tr>
<td>027585299c2e97fe1c17a13f49f9b4b962096fe1</br>[027585299c]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Tue Jun 18 21:50:10 2019 +0530</td>
<td>AGMID7647 : updating the log messages for loading DLL's (#2817)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/recovery/srd/SysNfo/SysNfoP1S/sysnfop1s.c : 652]  with [1] commits
</button><div class="content">
<h4>File : <i><a href="#">src/recovery/srd/SysNfo/SysNfoP1S/sysnfop1s.c</a></i> with [1] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493036616">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>748d73c968576b0ace4d7676e0debae7d15f0246</br>[748d73c968]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Mon Jun 17 17:40:29 2019 +0530</td>
<td>AGMID44359: DLL_hijacking adding full path and sign verification (#2790)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/da/win32/sys_sec.c : 520]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/da/win32/sys_sec.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493058379">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/da/win32/sys_sec.c : 627]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/da/win32/sys_sec.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493054571">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/barutil/upgrade_cfg/upgrade_cfg.c : 2004]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/barutil/upgrade_cfg/upgrade_cfg.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493053563">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/barutil/upgrade_cfg/upgrade_cfg.c : 2696]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/barutil/upgrade_cfg/upgrade_cfg.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493046427">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/barutil/upgrade_cfg/upgrade_cfg.c : 3295]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/barutil/upgrade_cfg/upgrade_cfg.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493035569">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/barutil/upgrade_cfg/upgrade_cfg.c : 613]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/barutil/upgrade_cfg/upgrade_cfg.c</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493036268">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/barutil/util_cmd.c : 1469]  with [2] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/barutil/util_cmd.c</a></i> with [2] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493039287">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>861d3fc2c5409916f835e06bad9280d5682fb5e5</br>[861d3fc2c5]</td>
<td>Sushant Poojary</br>sushantha.poojary@microfocus.com</td>
<td>Thu Jul 4 23:11:27 2019 +0530</td>
<td>Revert "Adding decryption functionality in util_cmd" (#3000)</td>
</tr>
<tr>
<td>714c59a4ee7f11bd6cb92b3f05ea82265caa294a</br>[714c59a4ee]</td>
<td>Aniruddha Athavale</br>aniruddha.athavale@hpe.com</td>
<td>Thu Jul 4 11:02:25 2019 +0530</td>
<td>Adding decryption functionality in util_cmd (#2972)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/vss2/util/util_misc.cpp : 374]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/vss2/util/util_misc.cpp</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493046059">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/vss2/util/util_misc.cpp : 400]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/vss2/util/util_misc.cpp</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493040342">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/integ/vss2/vdsa/vdsa.cpp : 2430]  with [0] commits
</button><div class="content">
<h4>File : <i><a href="#">src/integ/vss2/vdsa/vdsa.cpp</a></i> with [0] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493053541">Click here for error description</a></i></h4>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/cmn/win32.c : 362]  with [7] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/cmn/win32.c</a></i> with [7] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493046904">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>a2e2864ebfe38dde68443b41494fc08667b83bea</br>[a2e2864ebf]</td>
<td>Sushant Poojary</br>sushantha.poojary@microfocus.com</td>
<td>Mon Jun 17 15:43:46 2019 +0530</td>
<td>AGMID=AGMRQ10D7612:AGMRQ10D7940 NIAP:fix_for_VC2008_error (#2796)</td>
</tr>
<tr>
<td>8f636b78b92339a87f9725f2c8a25357c9aa395a</br>[8f636b78b9]</td>
<td>Sushant Poojary</br>sushantha.poojary@microfocus.com</td>
<td>Tue Jul 2 16:15:36 2019 +0530</td>
<td> AGMRQ10D7612:AGMRQ10D8002 NIAP encrypt IDB password and replace the encoded/KMS encrypted password in idb.config (#2944)</td>
</tr>
<tr>
<td>51cadf1305a66f02f3814c35b1eef34aa70871e1</br>[51cadf1305]</td>
<td>Saurabh Gupta</br>saurabh.gupta4@microfocus.com</td>
<td>Fri Jun 28 14:26:53 2019 +0530</td>
<td>AGMRQ10D7994 - Omnidbutil changes to encrypt webservice.properties password using configure_NIAP option present in Omnidbutil. (#2902)</td>
</tr>
<tr>
<td>4d53aa5d7326523a9582850c5ad3f52f5959f25c</br>[4d53aa5d73]</td>
<td>Saurabh Gupta</br>saurabh.gupta4@microfocus.com</td>
<td>Mon Jul 1 11:45:08 2019 +0530</td>
<td>AGMRQ10D7994 - Fix W2K8 builds. (#2929)</td>
</tr>
<tr>
<td>42098e2d34adf4c3b8892fec7b845277dc6f357e</br>[42098e2d34]</td>
<td>Saurabh Gupta</br>saurabh.gupta4@microfocus.com</td>
<td>Mon Jul 1 20:14:52 2019 +0530</td>
<td>AGMRQ10D7994 - Error handling and windows cluster fixes. (#2938)</td>
</tr>
<tr>
<td>30b6e384ecf0eeea89007717395e0583ab5539f6</br>[30b6e384ec]</td>
<td>VEMURI PRAVEEN</br>vemuri-praveen@microfocus.com</td>
<td>Thu Jun 20 15:50:54 2019 +0530</td>
<td>AGMID7647 : updating log messages and load using DPwrapper (#2831)</td>
</tr>
<tr>
<td>0b8a64c5747bcc03391ce0642137703688e69488</br>[0b8a64c574]</td>
<td>Sushant Poojary</br>sushantha.poojary@microfocus.com</td>
<td>Sun Jun 16 20:56:15 2019 +0530</td>
<td> AGMID=AGMRQ10D7612:AGMRQ10D7940 NIAP: Encrypting Cell manager IDB password (#2786)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/xtra/win32_suid.c : 148]  with [3] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/xtra/win32_suid.c</a></i> with [3] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493052053">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>a52c4040d399ab66596435c49f72a53b0dc5ff6f</br>[a52c4040d3]</td>
<td>SUBRAMANYA B L B S LAKSHMIPRASAD</br>subramanya-b-l.b-s-lakshmiprasad@microfocus.com</td>
<td>Mon Jul 1 16:41:25 2019 +0530</td>
<td>AGMID=7991 Omniinetpasswd compilation fix for Sharepoint and exchange IN VS2008 (#2935)</td>
</tr>
<tr>
<td>448abf32a6986f6af7d627787a1f60a004162f32</br>[448abf32a6]</td>
<td>Rashmi Shyamasundar</br>rashmi.shyamasundar@microfocus.com</td>
<td>Tue Jul 2 16:50:51 2019 +0530</td>
<td>AGMID=7991 Disconnect DBSM handle after encryption/decryption operati… (#2940)</td>
</tr>
<tr>
<td>000662f5a4741c05bc4a9b797a3535f641a6f446</br>[000662f5a4]</td>
<td>SUBRAMANYA B L B S LAKSHMIPRASAD</br>subramanya-b-l.b-s-lakshmiprasad@microfocus.com</td>
<td>Sun Jun 30 12:39:09 2019 +0530</td>
<td>AGMID=7991 encrypt admin access credentials stored in the registry : review work (#2906)</td>
</tr>
</table></p>
</div>
<button class="collapsible HIGH">
HIGH  -  Memory Leak  at [src/lib/xtra/win32_suid.c : 155]  with [3] commits
</button><div class="content">
<h4>File : <i><a href="#">src/lib/xtra/win32_suid.c</a></i> with [3] commits in last <i>[1 month]</i>, 
<i><a href="https://stat.rndsec.microfocus.com/stat/stat.html?proj=DP&issue=SCA222313476&issue=SCA493046379">Click here for error description</a></i></h4>
<p><b>Commit history in chronological order</b></br><table>
<tr><th>Commit id</th><th>User Info</th><th>Date</th><th>Comments</th></tr>
<tr>
<td>a52c4040d399ab66596435c49f72a53b0dc5ff6f</br>[a52c4040d3]</td>
<td>SUBRAMANYA B L B S LAKSHMIPRASAD</br>subramanya-b-l.b-s-lakshmiprasad@microfocus.com</td>
<td>Mon Jul 1 16:41:25 2019 +0530</td>
<td>AGMID=7991 Omniinetpasswd compilation fix for Sharepoint and exchange IN VS2008 (#2935)</td>
</tr>
<tr>
<td>448abf32a6986f6af7d627787a1f60a004162f32</br>[448abf32a6]</td>
<td>Rashmi Shyamasundar</br>rashmi.shyamasundar@microfocus.com</td>
<td>Tue Jul 2 16:50:51 2019 +0530</td>
<td>AGMID=7991 Disconnect DBSM handle after encryption/decryption operati… (#2940)</td>
</tr>
<tr>
<td>000662f5a4741c05bc4a9b797a3535f641a6f446</br>[000662f5a4]</td>
<td>SUBRAMANYA B L B S LAKSHMIPRASAD</br>subramanya-b-l.b-s-lakshmiprasad@microfocus.com</td>
<td>Sun Jun 30 12:39:09 2019 +0530</td>
<td>AGMID=7991 encrypt admin access credentials stored in the registry : review work (#2906)</td>
</tr>
</table></p>
</div>




<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script></body></html>